@charset "utf-8";
/* CSS Document */

#bdiv
{

border:solid #000000 1px;
width:1000px;
height:1600px;
float:left;
}
#a
{

border:solid #000000 1px;
width:880px;
height:90px;

margin-top:25px;
margin-left:50px;
margin-right:50px;
margin-bottom:25px;
padding:10px;
float:bottom;
text-align:center;

}
#b
{border:solid #000000 1px;
width:375px;
height:375px;
float:right;
margin-top:25px;
margin-left:50px;
margin-right:96px;
float:left;

}
#g
{border:solid #000000 1px;
width:375px;
height:375px;
float:left;
margin-top:25px;
margin-left:50px;
margin-right:50px;

}
#d
{



border:solid #000000 1px;
width:880px;
height:900px;

margin-top:25px;
margin-left:50px;
margin-right:50px;
margin-bottom:25px;
margin-top:50px;
padding:10px;
float:left;
float:top;
float:right;
}
#img1
{

margin-top:130px;
margin-left:130px;


}


